# python >= 3.10
networkx
shapely
psutil
seaborn
geopandas
contextily # for figures in tutorial notebooks
pyproj
ujson
websockets
networkx
# Optional
# kafka-python
# adtk
# scikit-learn
# should be align with your carla version
# carla == 0.9.15

